* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg: #f2e5f9;
  --primary: #ac28eb;
}

@font-face {
  font-family: "WorkSans";
  src: url("./assets/fonts/static/WorkSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "WorkSans";
  src: url("./assets/fonts/static/WorkSans-SemiBold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "WorkSans";
  src: url("./assets/fonts/static/WorkSans-Bold.ttf");
  font-weight: 600;
}

body {
  font-family: "WorkSans", "Courier New", Courier, monospace;
}

main {
  background-image: url("./assets/images/background-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: var(--bg);
  padding: 6rem 1.5rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  position: relative;
  padding-left: 3.5rem;
}

h1::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 100%;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url("./assets/images/icon-star.svg");
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.faqs-wrapper {
  border-radius: 0.5rem;
  background-color: white;
  padding: 1.5rem 1rem;
  max-width: 590px;
  margin: auto;
}

.faq {
  padding: 2rem 0;
  border-bottom: 1px solid #f8f7fb;
}

.faq:first-child {
  padding-top: 0;
  margin-top: 2rem;
}

.faq:last-child {
  padding-bottom: 0;
}

.faq-header {
  font-weight: 500;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.faq-header:hover {
  cursor: pointer;
}

.faq-title {
  font-size: 1.25rem;
}

.state-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: url("./assets/images/icon-plus.svg");
}

.active .state-icon {
  background-image: url("./assets/images/icon-minus.svg");
}

.faq-desc {
  display: none;
  font-size: 1rem;
  margin-top: 1rem;
  color: #99959a;
}

@media screen and (min-width: 768px) {
  main {
    background-image: url("./assets/images/background-pattern-desktop.svg");
    min-height: 100vh;
    padding-top: 8rem;
  }
  h1 {
    font-size: 3rem;
  }
  .faqs-wrapper {
    border-radius: 1rem;
    padding: 3.5rem 3rem;
    max-width: 650px;
    margin: auto;
  }
  .faq-desc {
    font-size: 1.15rem;
  }
}

/* .active .faq-desc {
  display: block;
} */
